/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-prc-quiz-question.wp-block {
	color: inherit;
	background: inherit;
	& > .block-list-appender.wp-block {
		width: 100%;
		display: block;
		position: relative;
	}
}
