.wp-block-prc-quiz-answer {
    box-sizing: border-box;
    max-width: 100%;
    // width: 100%;

    // All of these values can be overriden in the editor.
    background: white;
    border: 1px solid #ccc;
    color: #2a2a2a;
    font-family: var(--wp--preset--font-family--sans-serif);
    font-size: 1.1428571429rem;
    text-align: center;
    line-height: 1.5;
    letter-spacing: inherit;
    padding: 10px;
    margin: 2px 0 10px 0;
    // End of values that can be overriden in the editor.

    &:hover {
        background-color: var(--quiz-answer-active-background-color, #eaeaea);
        color: var(--quiz-answer-active-color, black);
    }
    
    &[disabled],
    &[disabled="true"] {
        opacity: 0.5;
        cursor: not-allowed !important;
    }

    &:not(.wp-block):not(:has(a, input, button)) {
        cursor: pointer;
    }

    &.is-active {
        background-color: var(--quiz-answer-active-background-color, #eaeaea);
        color: var(--quiz-answer-active-color, black);
        font-weight: bold;
    }

    &.is-correct {
        border-color: black!important;
    }

    &.is-conditional {
        &[hidden] {
            display: none;
        }
        
        &:not([hidden]) {
            animation: fadeIn 0.3s ease-in-out;
        }
    }
    
    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(-10px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
}
