/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-prc-quiz-page.wp-block {
	color: inherit;
	background: inherit;
	&.is-selected {
		.wp-block-prc-quiz-question {
			padding-bottom: 1.5em;
		}
	}
}
