/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-prc-quiz-result-table {
	.prc-quiz-result-table__icon {
		span:hidden {
			display: none;
		}
	}

	.prc-quiz-result-table__row {
		td {
			padding: 0.5em 1em;
			border-bottom: 1px dotted #ccc;
		}
	}
}
