/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-prc-quiz-page.wp-block {
	color: inherit;
	background: inherit;

	.wp-block-prc-block-mailchimp-form .wp-block-prc-block-form-submit {
		display: none;
	}
}
