/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-prc-quiz-page.wp-block {
	color: inherit;
	background: inherit;
	&.is-selected {
		.wp-block-prc-quiz-question {
			padding-bottom: 1.5em;
		}
	}
}

/* Quiz Actions Styles */
.quiz-actions-wrapper {
	display: flex;
	font-family: var(--wp--preset--font-family--sans-serif);
	flex-wrap: wrap;
	gap: 1em;
	margin-top: 1em;
}

.quiz-actions-wrapper.is-first-page {
	gap: 3em;
	margin-top: 3em;
}

.quiz-button {
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-family: var(--wp--preset--font-family--sans-serif);
	line-height: 1.067em;
	padding: 0.7857142857em 1.5em;
	text-align: center;
	text-decoration: none;
	text-shadow: none;
	box-shadow: inset 0 0 0 0 rgba(34, 36, 38, 0.15);
	margin: 0;
	text-transform: uppercase;
	font-weight: normal;
	display: inline-block;
}

.quiz-start-button {
	background-color: #e4cb84;
	color: black;
	border: 1px solid black;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	width: 260px;
	height: 62px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.quiz-next-button {
	font-size: 24px;
	width: 100%;
	background-color: #a5673f;
	color: #fff;
}

.quiz-next-button.is-disabled {
	background-color: #ccc;
	cursor: not-allowed;
}

.quiz-previous-button {
	line-height: 1.15;
	margin-top: 8px;
	border: none;
	background: #fff;
	color: #000;
	cursor: pointer;
	font-family: var(--wp--preset--font-family--sans-serif);
	font-size: 0.9285714286rem;
	letter-spacing: 0.1em;
	padding-left: 0;
	text-align: left;
	text-transform: uppercase;
	display: inline-block;
	flex-grow: 1;
}

.quiz-reset-button {
	text-align: right !important;
}

.prc-quiz__form__group-creation {
	display: block;
	margin-top: 1em;
}

.prc-quiz__button__group-creation {
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-family: var(--wp--preset--font-family--sans-serif);
	line-height: 1.067em;
	padding: 0.7857142857em 1.5em;
	text-align: center;
	text-decoration: none;
	text-shadow: none;
	box-shadow: inset 0 0 0 0 rgba(34, 36, 38, 0.15);
	margin: 0;
	text-transform: uppercase;
	font-weight: normal;
	display: block;
	background-color: #f2f2f2;
	color: black;
	border: 1px solid #565656;
	font-size: 15px;
	width: 260px;
	height: 62px;
	margin-top: 54px;
	margin-left: auto;
	margin-right: auto;
}

