.wp-block-prc-quiz-results {
	position: relative;
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
	overflow-x: clip;

	> * {
		max-width: 100%;
		box-sizing: border-box;
	}
}

.wp-block-prc-quiz-result-score {
	background: #efefef !important;
	color: #1b1c1d !important;
	font-size: 36px !important;
	font-family: franklin-gothic-urw, Verdana, Geneva, sans-serif !important;
	font-weight: 400 !important;
	line-height: 37px !important;
	text-align: center !important;
	margin-bottom: 14px !important;
	padding: 14px !important;
}
